
:root{
    --preto:        #0a0a0a;
    --branco:       #f2f0eb;
    --accent:       #c0392b;


    --font-title: 'Bebas Neue', sans-serif;
    --font-body: "IBM Plex Mono", monospace;
}

body {
    background-color: var(--preto);
    color: var(--branco);
    font-family: var(--font-body);
}

main {
    grid-template-areas: 
    "nav nav nav"
    "article article article"
    "footer footer footer";
}

nav { 
    margin: 3vh 3vw;
    padding: 5vh 3vw 1vh 3vw;
    height: auto;
    display: flex;              /**/
    flex-direction: row;        /* Barra de navegação centralizada com itens em linha horizontal    */
    justify-content: center;    /**/
    gap: 4em;
}

nav a:hover {
    background-color: var(--branco);
    color: var(--preto);
    transition: 90  ms;
}


a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: inherit;
}

h1 {
    font-family: var(--font-title);
    font-size: 15em;
    text-align: center;
    margin-bottom: 500px;
}

h2 {
    font-family: var(--font-body);
    color: var(--branco);
    text-align: center;
}

section {
    margin-bottom: 500px;
}

article {
    margin: 0 5vw;
    padding: 0 10vw;
    background-color: var(--preto);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main.page-timeline {
    margin: 0 5vw;
    padding: 0 10vw;
}

.accent {
    color: var(--accent);
}


/*
=======================================
Digitando
====================================
*/

blockquote {
    text-align: center; 
    width: fit-content;
    height: fit-content;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--branco); /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto 500px auto;;
  letter-spacing: .15em; /* Adjust as needed */
  width: 0;
  /* Adjust 'steps' to match the number of characters in your text */
  animation: 
    typing 3.5s steps(27, end) forwards,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 31ch }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--branco); }
}




.hero h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}
.bloco-jornal {
  position: center;
  width: 56vw;
  margin: auto;
  font-size: 1.5rem;
}

.texto {
  column-count: 2;
  column-gap: 60px;
  text-align: justify;
  line-height: 1.6;
}

.imagem-central {

  width: 450px;
  float: left;
  shape-outside: inset(0);
}

/* =-=-=-=-=-=-=-=--=-=-=-=-==== 
Estilos para a seção de personagens 
=-=-=-=--=-==-=-=-=-=-=-=-=-=-=-=*/



.personagens {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 48px 0;
}

.card-personagem {
    width: 280px;
    height: 300px;
    border: 2px solid var(--branco);
    padding: 0;
    overflow: hidden;
    cursor: pointer; /*indica que o container é clicável*/
    transition: background-color 0.15s, color 0.15s;
}

.container-clicavel {
    display: block;  /*evita que o link do container mude o estilo por ser um link (inline)*/
    text-decoration: none; /*tira decoracao especial de links*/
    color: inherit; /*garante que a cor do texto seja a mesma do container, mesmo sendo um link*/

}   
.card-personagem img {
    width: 100%;
    height: 120px;          /* altura fixa igual para todos */
    object-fit: cover;      /* cobre toda a área, cortando o excesso, ou seja, náo distoece a imagem pelo tamanho dela */
  
    display: block;
    filter: grayscale(100%) contrast(120%);
    transition: filter 0.15s;
}

.card-personagem h3 {
    font-family: var(--font-title);
    font-size: 2.5rem;
    margin: 16px 16px 8px;
    letter-spacing: 2px;
    transition: color 0.15s;
}

.card-personagem p {
    font-family: var(--font-body);
    font-size: 0.85rem;
    margin: 0 16px 20px;
    font-style: italic;
    transition: color 0.15s;
}

/* Hover — inversão total */
.card-personagem:hover {
    background-color: var(--branco);
    color: var(--preto);
}

.card-personagem:hover img {
    filter: grayscale(100%) contrast(120%) invert(1);
}

.card-personagem:hover h3,
.card-personagem:hover p {
    color: var(--preto);
}

/*
===================
Página linha do tempo
====================
*/

.timeline {
    position: relative; /*elemento fica na posição normal*/
    padding: 20px 0;
}

/*linha vertical conectando os pontos, aprendido no canal Coding2GO*/
.timeline::before {
    content: "";
    position: absolute;      /*vai para o começo, na esquerda */
    left: 6.5px;              /*posição horizontal da linha*/
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--branco);
}

.timeline-item { 
    display: flex;  /*um do ladinho do outro*/
    gap: 32px;
    margin: 60px 0 240px 0;
    margin-bottom: 120px;
    position: relative;
}

/*quadrado marcador*/
.timeline-marcador { /*basicamente um container sem nenhum texto*/
    width: 16px;
    height: 16px;
    background-color: var(--branco);
    flex-shrink: 0; /*elemento não encolhe no grid*/
    margin-top: 4px;
    position: relative;
    z-index: 1;  /*Fica sobre os itens, no caso, sobre a linha*/
}

.timeline-titulo {
    font-family: var(--font-title);
    font-size: 1.6rem;
    margin: 0 0 16px;
}

/*Foto e texto um do ladinho do outro*/
.timeline-corpo {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.timeline-corpo img {
    width: 320px;
    flex-shrink: 0;
    filter: grayscale(100%) contrast(115%);
}

.timeline-corpo p {
    font-family: var(--font-body);
    font-size: 0.8rem;
    line-height: 1.8;
    text-align: justify;
}

/*
==================================
Elenco cards
===================================
*/

.elenco{

}

.grid-elenco {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding: 40px;

}

.diretor {

}

.diretor img {
     width: 240px;
    height: 160px;
    object-fit: cover;
    filter: grayscale(100%) contrast(88%);
}

.ator {

}

.ator img {
    width: 240px;
    height: 160px;
    object-fit: cover;
}

#said-elenco {
    filter: grayscale(100%) contrast(100%);
}

.ator p {

}

